{
  "rules": {
      "no-use-before-define": [2, "nofunc"],
      "no-underscore-dangle": false
  },
  "globals": {
    "JSON": false,
    "$": false,
    "_": false,
    "angular": false,
    "define": false,
    "moment": false,
    "gettext": false,
    "it": false,
    "d3": false,
    "xit": false,
    "beforeEach": false,
    "afterEach": false,
    "inject": false,
    "expect": false,
    "describe": false,
    "xdescribe": false,
    "requirejs": false,
    "browser": false,
    "element": false,
    "by": false,
    "protractor": false,
    "jasmine": false,
    "spyOn": false
  }
}
